@-webkit-keyframes form_button {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes form_button {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.top_cart {
    height: 400px;
    background-image: url(img/logocart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 127px;
}

.cart_text {
    color: #FFF;
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    /* 109.375% */
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &_name_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &_content {
        grid-column: span 8;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    &_item {
        padding-top: 14px;
        border-top: 0.5px solid #CACDD8;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

    }

}

/* .cart_name_box */


.cart_name_text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.cart_left {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    transition: all 0.4s;
}

.cart_left:hover {
    transform: scale(1.07);
}

.cart_info {
    width: 275px;
    display: flex;
    gap: 14px;
    flex-direction: column;
    flex-wrap: wrap;
}

.cart_header_info {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.cart_text_info {
    width: 275px;
    color: #888;
    font-size: 14px;
    font-weight: 400;
}


.cart_price_info {
    color: #050505;
    font-size: 16px;
    font-weight: 500;
}

.cart_link_box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row
}

.cart_link {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 210%;
    /* 29.4px */

    &:hover{
        text-decoration: underline;
    }
}



.cart_input_info {
    width: 71px;
    height: 51px;
    border-radius: 6px;
    background: #F7F6F6;
    color: var(--Color---7, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 210%;
    /* 29.4px */
    border: none;
    outline: none;
}

.cart_form {
    border-radius: 20px;
    background: #F7F6F6;
    height: 556px;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 68px;
    align-items: center
}

.cart_box_form {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 44px;
    align-content: center;
}

.cart_header_form {
    color: #000;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.cart_link_form {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 0.5px solid #CACDD8;
    width: 288px;
}

.prise_button_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.cart_prise {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.prise_span {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.form_button {
    border-radius: 20px;
    border: 1px solid #040404;
    display: flex;
    width: 290px;
    height: 41px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    background-color: #F7F6F6;
    animation: form_button 3s ease-in-out infinite both;

    &:hover{
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        background-color: #000;
    }
}



.cart_button_box {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.cart_button_1 {
    height: 37px;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    &:hover{
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        background-color: #000;
    }
}



.cart_button_2 {
    height: 37px;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    &:hover{
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        background-color: #000;
    }
    
}

